.infodiv {
  position: relative;
  width: 100%;
  height: 50px;
  top: 0;
  padding-top: calc(25px - 12px);
}

.infodiv span {
  font-size: 10px;
  margin-right: 60px;
}

.infodiv span:nth-child(1) {
  margin-left: 40px;
}

.infodiv span {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.infodiv span:hover {
  color: #212121;
  border-bottom: 2px solid #212121;
}




.main-sec{
  background-image: url(https://images.pexels.com/photos/2199293/pexels-photo-2199293.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.main-sec {
  margin-top: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bgopacity::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  z-index: -1;
}

.info::before{
  background-color: #eb7077;
}

.infodiv, .navbar-default{
  z-index: 5;
  top:0;
  position: relative;
}

header{
  z-index: 5;
  position: absolute;
  top:0;
  width:100%;
}

.img {
  z-index: -1;
}

.navbar-default{
  margin-bottom: 0;
  background-color: inherit;
  border:0;
}

.main-sec .innersec {
  position: relative;
  height: 100vh;
  background-color: rgb(50,20,80);
  opacity:0.4;
  width: 100vw;
}

.sec2 {
  z-index: 2;
  height: 30%;
}

.navbar-nav li a{
  color:#616161 !important;
  transition: all 0.3s ease;
  opacity: 1;
  background-color: inherit;
}

.navbar-nav li a:hover{
  color: black !important;
}

.navbar-header a{
  color: black !important;
}
